<!DOCTYPE html>
<html>
	<head>
		<title>What Are My Chances?</title>
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="static/css/master_css.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="logo">
					<a href="/">
						<img src="/static/images/logo.svg">
					</a>
				</div>
				
				<div class="name">
					<a href="/">What Are My Chances?</a>
				</div>

				<div class="menu">
					<!-- On About Page -->
					<!-- <div class="menu-item selected">About</div> -->
					<a href="/About" class="menu-item">About</a>
					<a href="/Contact" class="menu-item">Contact</a>
				</div>
			</div>
			
			<div class="content">
				<h1 class="yellow-fever-text font-effect-canvas-print">Yellow Fever</h1>
				
				<h4>Should you get vaccinated?</h4>
				
				<!-- <button type="button" onClick="/Form">Check your chances now!</button> -->
				<a href="/Form" class="button">Check your chances now!</a>
			</div>

			<div class="easter-egg">
				“To get vaccinated, or to not get vaccinated: That is the question.” ~Yelliam Shakesfever
			</div>
			
			<div class="disclaimer">
				Disclaimer: This website is for information purposes only. It is provided with the hope that it will be useful, but WITHOUT ANY WARRANTY. Information provided here should not be taken as medical advice. We take no responsibility ... Consult with a medical professional before ...
			</div>
			
	  		<div class="sources">
				<b><span style="color: darkgray">Sources:</span></b> <br>
				<span style="font-size: 12px">
					● Centers for Disease Control and Prevention (CDC). Yellow Fever: History, Epidemiology and Vaccination Information. [Internet]. Atlanta, GA: US Department of Health and Human Services, CDC; 2010. Available from: <a href="https://www.cdc.gov/travel-training/local/HistoryEpidemiologyandVaccination/page26990.html">https://www.cdc.gov/travel-training/local/HistoryEpidemiologyandVaccination/page26990.html</a>. [Accessed: 2018, Mar, 09]. <br>
					● World Health Organization. International travel and health/Vaccine/Yellow fever. Available from: <a href="http://www.who.int/ith/vaccines/yf/en/">http://www.who.int/ith/vaccines/yf/en</a>. [Accessed: 2018, Apr, 06] <br>
					● Ministério da Saúde, Brasil. Saúde de A à Z/Febre Amarela. Available from: <a href="http://portalms.saude.gov.br/saude-de-a-z/febre-amarela-sintomas-transmissao-e-prevencao">http://portalms.saude.gov.br/saude-de-a-z/febre-amarela-sintomas-transmissao-e-prevencao</a>. [Accessed: 2018, Mar, 09].
				</span>
	  		</div>
		</div>
	</body>
</html>